.window-container {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  /*transform: translateX(-50%) translateY(-50%);*/
  /* padding: 3em; */
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #00000069;
  background-color: #00000069;
  backdrop-filter: blur(20px);
  outline: none;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.window-container:focus {
  z-index: 69;
}

.window-container-closed {
  opacity: 0.0;
  transform: translateY(100%);
  pointer-events: none;
}

.window-titlebar {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  border-radius: inherit;
  padding: 5px;
  height: 30px;
  background-color: #00000069;
}

.window-title {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  pointer-events: none;
}

.window-title img {
  width: 40px;
}

.window-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  align-items: center;
  overflow: auto;
}

.close-icon {
  transition: opacity 0.1s ease-out;
}
.close-icon:active {
  opacity: 0.5;
}
